{% extends 'base.html' %}
{% load static %}
    
{% block content %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<!--=====Start Banner Area ====-->
<section id="banner">
        <div class="container">
            <div class="banner">
                <h2>가격은 저렴하게 <br>거래는 안전하게</h2>
                <p>중간업체를 거치지 않음으로써,<br>
                     더욱 저렴한 임대료로 렌탈을 이용해 보세요!<br><br>
                안심할 수 있는 렌탈 서비스를 제공하기 위해<br>
                    MERAMERA는 최선을 다하고 있습니다.</p>
                <a href="#" class="view">이용방법 자세히 알아보기</a>
            </div>
        </div>
    </section>
    </div>
    <!--=====End Banner Area ====-->

    <!--=====Start Cont_hot Area ====-->
    <div id="cont-hot">
        <div class="container">
            <div class=cont-hot>
                <h3>카테고리별 인기 상품</h3>
                <i class="fas fa-angle-left prev"></i>
                <i class="fas fa-angle-right next"></i>

                <ul class="ctg-menu clearfix">
                        <li><a href="#">카메라1</a></li>
                        <li><a href="#">카메라2</a></li>
                        <li><a href="#">카메라3</a></li>
                        <li><a href="#">카메라4</a></li>
                        <li><a href="#">기타</a></li>
                </ul>

                <div class="hlider">
                    <div class="hlider-cell">
                        <img src="{% static '/img/index/item1.jpg' %}" alt="item1">
                    </div>

                    <div class="hlider-cell">
                        <img src="{% static '/img/index/item1.jpg' %}" alt="item1">
                    </div>

                    <div class="hlider-cell">
                        <img src="{% static '/img/index/item1.jpg' %}" alt="item1">
                    </div>

                    <div class="hlider-cell">
                        <img src="{% static '/img/index/item1.jpg' %}" alt="item1">
                    </div>

                    <div class="hlider-cell">
                        <img src="{% static '/img/index/item1.jpg' %}" alt="item1">
                    </div>

                     <div class="hlider-cell">
                        <img src="{% static '/img/index/item1.jpg' %}" alt="item1">
                    </div>
                </div>
  
                <div class="total-menu">
                    <a href="#" class="view">모든 카테고리 보기</a>
                </div>
                    
            </div>
        </div>
    </div>
    <!--=====End Cont_hot Area ====-->

    <!--=====Start Cont_appstore Area ====-->
    <div id="cont-appstore">
            <div class="container">
                <div class=cont-appstore>
                    
                    
                        
                </div>
            </div>
        </div>

    <!--=====End Cont_appstore Area ====-->
   
    <!--=====Start Cont_reivew Area ====-->
    <div id="cont-review">
        <div class=cont-reivew>
                <h3 clsss="slider-title">이용자 리뷰</h3>
                <i class="fas fa-angle-left prev"></i>
                <i class="fas fa-angle-right next"></i>
    
                <div class="slider">
                    <div class="slider-cell">
                        <div class="single-person">
                            <div class="personIMG">
                                <img src="static/img/index/no-profile.jpg" alt="User1">
                            </div>
                            <div class="personName">
                                    <h4>User1</h4>
                                </div>
                            <div class="personquote">
                                <p>대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다.</p><br>
                            </div>
                        </div>
                    </div>

                    <div class="slider-cell">
                        <div class="single-person">
                            <div class="personIMG">
                                <img src="static/img/index/no-profile.jpg" alt="User2">
                            </div>
                            <div class="personName">
                                <h4>User2</h4>
                            </div>
                            <div class="personquote">
                                <p>대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다.</p><br>
                            </div>
                        </div>
                    </div>
                 
                    <div class="slider-cell">
                        <div class="single-person">
                            <div class="personIMG">
                                <img src="static/img/index/no-profile.jpg" alt="User3">
                            </div>
                            <div class="personName">
                                <h4>User3</h4>
                            </div>
                            <div class="personquote">
                                <p>대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다.</p><br>
                            </div>
                        </div>
                    </div>

                    <div class="slider-cell">
                        <div class="single-person">
                            <div class="personIMG">
                                <img src="static/img/index/no-profile.jpg" alt="User4">
                            </div>
                            <div class="personName">
                                <h4>User4</h4>
                            </div>
                            <div class="personquote">
                                <p>대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다.</p><br>
                            </div>
                        </div>
                    </div>
    
                    <div class="slider-cell">
                        <div class="single-person">
                            <div class="personIMG">
                                <img src="static/img/index/no-profile.jpg" alt="User5">
                            </div>
                            <div class="personName">
                                <h4>User5</h4>
                                </div>
                            <div class="personquote">
                                <p>대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다.</p><br>
                            </div>
                        </div>
                    </div>
                   
                    <div class="slider-cell">
                        <div class="single-person">
                            <div class="personIMG">
                                <img src="static/img/index/no-profile.jpg" alt="User6">
                            </div>
                            <div class="personName">
                                <h4>User6</h4>
                            </div>
                            <div class="personquote">
                                <p>대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다. 대표후기가 나타납니다.</p><br>
                            </div>
                        </div>
                    </div>
                </div>                            
                
            
        </div>
    </div>
    
<!-- JQuery -->
<script src="static/js/jquery-3.2.1.min.js"></script>
<!-- Slick Carousel -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
     $('.hlider').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000,
    nextArrow: $('.next'),
    prevArrow: $('.prev'),
    });

    $('.slider').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 3000,
    nextArrow: $('.next'),
    prevArrow: $('.prev'),
    });  
</script>

{% endblock %}