{% extends 'base.html' %}
{% load static %}
    
{% block content %}
<link rel="stylesheet" type = "text/css" href="{% static '/css/search.css' %}"/>

<div class="container">
    <table class="search">
        <tr>
            <td class="r-title" style="width : 5%">번호</td>
            <td class="r-title" style="width : 50%">제목</td>
            <td class="r-title" style="width : 15%">작성자</td>
            <td class="r-title" style="width : 20%">작성일</td>
        </tr>

        {% for post in post.all%}
        <tr>
            <td>{{ post.id }}</td>
            <td><a href="{% url 'detail' post.id %}">{{ post.title }}</a></td>
            <td>{{ post.author }}</td>
            <td>{{ post.pub_date|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
    </table> 
</div>

{% endblock %}